---
import { Image } from "@astrojs/image/components";
import InLineLink from "@/components/InLineLink";

const { research, as: Element = "div" } = Astro.props;
---

<Element class="flex flex-col sm:flex-row">
	<div class="flex w-full items-center justify-center text-white sm:w-1/4">
		<Image src={research.data.feature} alt={research.data.title} height={400} aspectRatio={1} />
	</div>
	<div class="flex w-full flex-col p-4 pl-7 text-white sm:w-3/4">
		<h2 class="title mb-3 text-xl">{research.data.title}</h2>
		<ul class="mb-3 flex flex-row flex-wrap text-gray-500">
			{
				research.data.authors.map((author: string, idx: number) => {
					return (
						<li
							class="mr-2 dark:text-gray-300"
							style={
								idx === research.data.author_idx
									? { textDecoration: "underline" }
									: null
							}
						>
							{author}
							{idx !== research.data.authors.length - 1 ? "," : ""}
						</li>
					);
				})
			}
		</ul>
		<p class="mb-3 italic text-black dark:text-white">{research.data.description}</p>

		<ul class="flex flex-row text-black dark:text-white">
			{
				Object.entries(research.data.links).map(([key, value]) => (
					<li class="mr-3">
						[<InLineLink text={key} href={value} />]
					</li>
				))
			}
		</ul>
	</div>
</Element>
